@font-face {
  font-family: "KOTRAHOPE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: KOTRAHOPE;
  text-align: center;
}

.each {
  background-color: papayawhip;
  /* margin-left: 30%;
  margin-right: 30%; */
  margin: 10px 30%;
  padding: 1px;
  border-radius: 20px;
}

.modal {
  padding: 10px;
  margin: 10px 30%;
  border-radius: 20px;
  background: peachpuff;
}
